<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
.foto-capa {
    width: 100%;
    height: 250px;
    background: url(http://www.tokkoro.com/picsup/3092896-black-wallpaper_dragon_linux.jpg) center no-repeat;
    background-size: cover;
}

.big-icon {
    width: 180px;
    height: 180px;
    background: url(/assets/res/user.png) center left;
    background-size: 140%;
    border-radius: 50%;
    border: 5px solid #e3292a;
    margin-top: -90px;
}

.social {
    border-top: 4px solid #e3292a;
    margin-top: 6px;
    margin-bottom: -5px;
    border-bottom: 10px solid #e3292a;
}

.sbico2 {
    width: 14%;
    height: 50px;
    color: #4c4c4c;
    font-size: 26px!important;
    text-decoration: none;
    line-height: 50px!important;
}

.sbbtt1:hover {
    color: #4267b2!important;
    -webkit-text-fill-color: #4267b2;
}

.sbbtt2:hover {
    color: #1da1f2!important;
    -webkit-text-fill-color: #1da1f2;
}

.sbbtt3:hover {
    color: #db4437!important;
    -webkit-text-fill-color: #db4437;
}

.sbbtt4:hover {
    color: #bd081c!important;
    -webkit-text-fill-color: #000000;
}

.sbbtt5:hover {
    color: #ff0000!important;
    -webkit-text-fill-color: #ff0000;
}

.fundo {
    background-color: #f7f7f7;
    border: 4px solid #ccc;
    border-radius: 14px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    max-width: 100%;
}
</style>


<center>
  <div class="foto-capa"></div>
  <div class="center big-icon"></div>

   <p class="flow-text">
     Olá para quem não me conhece sou conhecido como Magno Tutor, devido ao meu canal do YouTube, eu desenvolvi esse website para estar postando meu conhecimento, de forma simples e objetiva, aqui você vai encontrar conteúdos diversos, desde GNU/Linux até Pentesting/Hacking, e claro não podemos esquecer das dicas, e se você ainda não é inscrito no meu canal, não perca tempo e vai logo se inscrevendo para me dar aquela força.
     <br/><br/>
     Bom é isso espero que você tenha uma boa navegação pelo conteúdo do site, fique avontade para fazer os seus comentários no final de cada post, se caso quiser entrar em contato comigo, o site possui um menu chamado "Contato" onde aprensenta uma área que tem um formulário para contato, basta você preencher os dados para eu poder visualizar, e não deixe de compartilhar com seus amigos para estar divulgando o meu trabalho.
   </p>

   <div class="social">
     <a class="sbbtt1 sbico2 fa fa-facebook" href="https://facebook.com/Magn0Tutor" target="_blank"></a>
     <a class="sbbtt2 sbico2 fa fa-twitter" href="https://twitter.com/Magn0tutor" target="_blank"></a>
     <a class="sbbtt3 sbico2 fa fa-google-plus" href="https://plus.google.com/+MagnoTutor" target="_blank"></a>
     <a class="sbbtt4 sbico2 fa fa-github-alt" href="https://github.com/Sup3r-Us3r" target="_blank"></a>
     <a class="sbbtt5 sbico2 fa fa-youtube-play" href="https://youtube.com/MagnoTutor?sub_confirmation=1" target="_blank"></a>
   </div>

    <!-- DOAÇÃO -->
    <section class="flow-text section section-follow red darken-1 white-text center">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h4><b>DOAÇÃO</b></h4>
            <p>Faça uma doação para me ajudar a trazer conteúdo de qualidade a você</p>
            <a href="https://pag.ae/bkzYxDJ" target="_blank">
              <img class="hoverable z-depth-1" src="https://img.shields.io/badge/DOAR%20COM-PAGSEGURO-green.svg?style=for-the-badge">
            </a>
          </div>
        </div>
      </div>
    </section>

</center>
